{% extends 'base.html' %}
{% load static %}
{% block title %}News{% endblock title %}

{% block content %}
    
    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>


      <header class="site-navbar light site-navbar-target position-fixed bg-white" role="banner">

        <div class="container" style="margin-top: -15px; margin-bottom: -15px; line-height: 35px;" >
          <div class="row align-items-center">

            <div class="col-3">
              <div class="site-logo">
                <a href="/" style="color: black;"><strong>Academic Support</strong></a>
              </div>
            </div>

            <div class="col-9  text-right">

              <span class="d-inline-block d-lg-none"><a href="#" class=" site-menu-toggle js-menu-toggle py-5 "><span class="icon-menu h3 text-black"></span></a></span>

              <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto ">
                  <li><a href="/tutorial" class="nav-link" style="color: black">Tutorials</a></li>
                  <li><a href="/community/questions" class="nav-link" style="color: black">Forum</a></li>
                  <li><a href="/news" class="nav-link" style="color: black">Blog</a></li>
                  <li><a href="/about" class="nav-link" style="color: black">About</a></li>
                  <li><a href="/contact" class="nav-link" style="color: black">Contact</a></li>
                  {% if request.user.is_staff %}
                        <li><a href="/news/create" class="nav-link" style="color: black"> Post</a></li>
                    {% endif %}
                </ul>
              </nav>
            </div>
          </div>
        </div>

    </header>


      
      <div class="site-section-cover overlay" style="background-image: url({% static 'images/blog.jpg' %});">
      </div>

      <div class="site-section bg-light">
      <div class="container">
          <div class="row mb-5 align-items-center">
            <div class="col-lg-6 mb-4 mb-lg-0">
              <form method="GET" action="" class="d-flex search-form" style="margin-left: -13px">
                <span class="icon-"></span>
                <input type="search" class="form-control mr-2" name="{{ search_request_var }}" value="{{ search_query }}" placeholder="Search posts">
                <input type="submit" class="btn btn-primary px-4" value="Search">
              </form>
            </div>
            <div class="col-lg-6 text-lg-right">
              <div class="d-inline-flex align-items-center ml-auto">
              <span class="mr-4">Share:</span>
              <a href="#" class="mx-2 social-item"><span class="icon-facebook"></span></a>
              <a href="#" class="mx-2 social-item"><span class="icon-twitter"></span></a>
              <a href="#" class="mx-2 social-item"><span class="icon-telegram"></span></a>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              {% if search_query %}
                  <div class="heading mb-4">
                    <h2>Search results of: <strong style="color: forestgreen">"{{ search_query }}"</strong></h2>
                  </div>
              {% else %}
                  <div class="heading mb-4" style="margin-left: -5px">
                    <span class="caption">All</span>
                    <h2>Blog Posts</h2>
                  </div>
              {% endif %}
            </div>
            <div class="row">
            {% if posts %}
                {% for post in posts %}
                  <div class="col-lg-4 col-md-6 mb-4">
                    <div class="post-entry-1 h-100">
                      <a href="{% url 'post_detail' post.pk %}" class="thumbnail-link">
                        <img src="{{ post.thumbnail.url }}" alt="Image"
                         class="img-fluid">
                      </a>
                      <div class="post-entry-1-contents">

                        <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
                        <span class="meta d-inline-block mb-3">{{ post.timestamp|date }}</span>
                        <p style="color: black; font-size: 14px;">{{ post.overview }}</p>
                      </div>
                    </div>
                  </div>
                {% endfor %}
            {% else %}
                <p style="margin-top: 50px; margin-left: 250px; font-size: 18px;">No news found.</p>
            {% endif %}
        </div>

        <div class="container">
           {% if posts %}
              <div class="col-5">
                <div class="custom-pagination">
                    {% if posts.has_previous %}
                        <a href="?{{ page_request_var }}={{ posts.previous_page_number }}&{{ search_request_var }}={{ search_query }}">
                            <img src="{% static 'images/la.png' %}" alt="image">
                        </a>
                    {% endif %}
                    <a href="?{{ page_request_var }}={{ posts.number }}">{{ posts.number }}</a>
                    {% if tutorials.has_next %}
                        <a href="?{{ page_request_var }}={{ posts.next_page_number }}&{{ search_request_var }}={{ search_query }}">
                            <img src="{% static 'images/ra.png' %}" alt="image">
                        </a>
                    {% endif %}
                </div>
              </div>
           {% endif %}
        </div>

      </div>
    </div>
    </div>
    </div>
{% endblock content %}
