{% load static %}

<style>

    .footer {
        border-top: ghostwhite 2px solid;
    }

    .footer ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .footer ul li a {
        color: #333;
        font-size: 1rem;
    }

    #license {
        font-size: 0.9rem;
    }

    @media(max-width: 768px) {
        .footer ul {
            flex-direction: column;
            gap: 5px;
            justify-content: left;
            align-items: flex-start;
            margin-left: 20px;
        }
    }


</style>

<footer class="footer">
      <ul>
          <li><a href="/" class="nav-link">Home</a></li>
          <li><a href="/tutorial" class="nav-link">Tutorials</a></li>
          <li><a href="/tutorial" class="nav-link">Forum</a></li>
          <li class="active"><a href="/news" class="nav-link">Blog</a></li>
          <li><a href="/about" class="nav-link">About</a></li>
          <li><a href="/contact" class="nav-link">Contact</a></li>
      </ul>

      <div id="license" class="text-center m-5">
        <p>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      &copy; <script>document.write(new Date().getFullYear());</script> Academic Support Club | All rights reserved | Part of this template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </p>
      </div>

</footer>