{% extends 'base.html' %}
{% block title %}Create Post{% endblock title %}

{% block style %}
    .card-body {
        margin: 120px auto 50px;
        width: 70%;
        min-width: 200px;
    }

     .card-body-2 {
        margin: 150px auto 10px;
        width: 70%;
        min-width: 200px;
    }

    .form-item {
        margin: 10px 0 25px;
    }

    .input-field {
        width: 70%;
    }

    h3 {
        margin-bottom: 30px;
    }

    @media(max-width: 820px) {
      .card-body {
          width: 100%;
      }
      
      .input-field {
        width: 100%;
      }
   }


{% endblock style %}


{% block content %}

<header class="site-navbar light site-navbar-target position-fixed bg-white" role="banner">

  <div class="container" style="margin-top: -15px; margin-bottom: -15px; line-height: 35px;" >
    <div class="row align-items-center">

      <div class="col-3">
        <div class="site-logo">
          <a href="/" style="color: black;"><strong>Academic Support</strong></a>
        </div>
      </div>

      <div class="col-9  text-right">

        <span class="d-inline-block d-lg-none"><a href="#" class=" site-menu-toggle js-menu-toggle py-5 "><span class="icon-menu h3 text-black"></span></a></span>

        <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
          <ul class="site-menu main-menu js-clone-nav ml-auto ">
            <li><a href="/tutorial" class="nav-link" style="color: black">Tutorials</a></li>
            <li><a href="/community/questions" class="nav-link" style="color: black">Forum</a></li>
            <li><a href="/news" class="nav-link" style="color: black">Blog</a></li>
            <li><a href="/about" class="nav-link" style="color: black">About</a></li>
            <li><a href="/contact" class="nav-link" style="color: black">Contact</a></li>
            {% if request.user.is_staff %}
                  <li><a href="/news/create" class="nav-link" style="color: black"> Post</a></li>
              {% endif %}
          </ul>
        </nav>
      </div>
    </div>
  </div>

</header>


     {% if authority_error %}
      <div class="error">
          <h5>{{ authority_error }}</h5>
      </div>
     {% elif login_required %}
         <div class="error">
          <h5>{{ authority_error }} Please, <a href="/community/login?next=/news/create/">log in.</a></h5>
        </div>
    {% elif error %}
         <div class="card-body-2">
             <h4>Errors:</h4>
            {% for key, value in error.items %}
                  <h6>{{key}} : {{ value }}</h6>
            {% endfor %}
        </div>
    {% else %}
    <div class="card-body">
        <h3>Create Post</h3>
        {{ form.media }}
        <form class="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                {{ field.label }}:
                <div class="form-item">
                    {{ field }}
                </div>
            {% endfor %}
            <input class="btn btn-outline-primary" type="submit" value="Submit">
        </form>
    </div>
    {% endif %}

{% endblock content %}