{% extends 'base.html' %}
{% load static %}
{% block title %}Post{% endblock title %}

{% block style %}

    a {
        text-decoration: none;
        color: dodgerblue;
    }

    .custom-container {
        margin: 80px auto -20px;
        max-width: 1100px;
        padding: 0 180px;
    }

    .custom-container .top-info {
        display: flex;
        flex-direction: column;
        color: black;
        font-size: 1rem;
        margin: 50px auto 30px;
    }

    .custom-container .top-info h3 {
      justify-self: center;
      align-self: center;
      font-weight: bold;
    }

    .custom-container .overview {
        font-size: 1.1rem;
        margin: 15px 0;
    }

    .custom-container .top-info div strong {
        font-size: 1rem;
        color: gray;
    }

    .custom-container img {
      width: 100%;
    }

    .custom-container .content {
      justify-self: center;
      align-self: center;
      padding-top: 40px;
      text-align: justify;
      font-size: 1rem;
      color: black;
    }

    @media(max-width: 800px){
      .custom-container {
        margin: 120px auto -20px;
        max-width: 1100px;
        padding: 0 20px;
    }


    .custom-container .top-info h3 {
      text-align: center;
      font-weight: bold;
    }

  }

{% endblock style %}

{% block content %}

    
    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>

      <header class="site-navbar light site-navbar-target position-fixed bg-white" role="banner">

        <div class="container" style="margin-top: -15px; margin-bottom: -15px; line-height: 35px;" >
          <div class="row align-items-center">

            <div class="col-3">
              <div class="site-logo">
                <a href="/" style="color: black;"><strong>Academic Support</strong></a>
              </div>
            </div>

            <div class="col-9  text-right">

              <span class="d-inline-block d-lg-none"><a href="#" class=" site-menu-toggle js-menu-toggle py-5 "><span class="icon-menu h3 text-black"></span></a></span>

              <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto ">
                  <li><a href="/tutorial" class="nav-link" style="color: black">Tutorials</a></li>
                  <li><a href="/community/questions" class="nav-link" style="color: black">Forum</a></li>
                  <li><a href="/news" class="nav-link" style="color: black">Blog</a></li>
                  <li><a href="/about" class="nav-link" style="color: black">About</a></li>
                  <li><a href="/contact" class="nav-link" style="color: black">Contact</a></li>
                  {% if request.user.is_staff %}
                        <li><a href="/news/create" class="nav-link" style="color: black"> Post</a></li>
                    {% endif %}
                </ul>
              </nav>
            </div>
          </div>
        </div>

    </header>

    <div class="site-section">
        <div class="custom-container">
             <div class="top-info">
                <h3><strong>{{ post.title }}</strong></h1>
                <p class="overview">{{post.overview}}</p> 
                {% if request.user.is_superuser %}
                   <div><strong>Posted on {{ post.timestamp|date }}  | <a href="{% url 'post_update' post.pk %}">Edit</a> | <a href="{% url 'post_delete' post.pk %}">Delete</a></strong></div>
                {% else %}
                  <div><strong>Posted on {{ post.timestamp|date }}</strong></div>
                {% endif %}
                </div> 
             <img src="{{ post.thumbnail.url }}" alt="post-image">
             <div class="content">
                {{ post.content | safe }}
            </div>
        </div>
    </div>



    </div>

{% endblock content %}

