{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

    <title>Login</title>

</head>
<body>


    <div class="container">
      <div class="wrapper">
        <div class="title"><span>Login to Community</span></div>
        {% if form.errors %}
          {% for error in form.errors.values %}
            <div style="margin: 5px 0 0 30px;">{{ error}}</div>
          {% endfor %}
        {% endif %}
        <form method="post" action="">
          {% csrf_token %}
          <div class="row">
            <i class="fas fa-user"></i>
              {{ form.username }}
          </div>
          <div class="row">
            <i class="fas fa-lock"></i>
              {{ form.password }}
          </div>
          <div class="row button">
            <input type="submit" value="Login">
          </div>
          <div class="signup-link">Not a member yet? <a href="../signup">Signup now</a></div>
        </form>
      </div>
    </div>

</body>
</html>