{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Sign Up</title>
</head>
<body>
    <div class="container">
      <div class="wrapper">
        <div class="title"><span>Sign up to Community</span></div>
          {% if form.errors %}
              {% for error in form.errors.values %}
                <div class="error">{{ error}}</div>
              {% endfor %}
          {% endif %}
          <form method="POST">
              {% csrf_token %}

              <div class="row">
                <i class="fas fa-user"></i>
                {{ form.username }}
              </div>

              <div class="row">
                <i class="fas fa-lock"></i>
                {{ form.password1}}
              </div>

              <div class="row">
                <i class="fas fa-lock"></i>
                {{ form.password2 }}
              </div>

              <div class="row button">
                <input type="submit" value="Sign Up">
              </div>

          <div class="signup-link">Already have an account? <a href="/community/login">Login now</a></div>
        </form>
      </div>
    </div>

    <script>
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder = 'Username'
        form_fields[2].placeholder = 'Password'
        form_fields[3].placeholder = 'Confirm password'
    </script>



</body>
</html>